# Nunca use a service_role no frontend.
VITE_SUPABASE_URL=https://esupbxqznxgcicgbhmyt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiJ9.placeholder-signature
